.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLogo h1 {
    font-size: 60px;
    color: var(--white);
}

.containerLogo span {
    color: var(--white);
    margin-top: 14px;
    margin-bottom: 34px;
    font-size: 19px;
}

.input-area {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideY 2s;
}

/* Animation Input Area */
@keyframes slideY {
    from {
        transform: translateY(90px);
    }
    to {
        transform: translateY(0px);
    }
}

.input-area div {
    width: 100%;
    height: 46px;
    background-color: var(--gray-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.input-area svg {
    margin: 0 8px;
}

.input-area input {
    width: 100%;
    background: transparent;
    border: 0;
    height: 100%;
    color: var(--white);
    outline: none;
    font-size: 18px;
}

.input-area input::placeholder {
    color: rgb(255, 255, 255, 0.8);
}

.input-area button {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
    margin-top: 12px;
    transition: transform 0.7s;
}

.input-area button:hover {
    transform: scale(1.05);
}

/* RESPONSIVIDADE */

@media (max-width: 615px) {
    .containerLogo img {
        width: 95px;
    }

    .containerLogo h1 {
        font-size: 40px;
    }

    .containerLogo span {
        font-size: 16px;
    }

    .input-area {
        width: 88%;
    }
}